.precontent_dialog.ui-dialog-content {
	background-color: #00506B;
	padding:20px;
}

#starter-text-preset-content-form {
	background:#FFFFFF;
	border-radius:4px;
	padding:20px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #ddd;
}

#starter-text-preset-content-form h3 {
	margin-top:0;
	font-weight:normal;
	color:#0A9ACE;
}

.preset-buttons {
	margin-top:15px;
}

.preset-buttons .btn {
	font-size:14px;
}

#content-list {
	height:415px;
	padding-right:10px;
	overflow-y: scroll;
}

#content-list .form-item-preset-content {
	padding:0;
	margin-bottom:15px;
	
}

#content-list input {
	display:none;
}

#content-list label {
	display:block;
	padding: 6px 9px;
	border: 1px solid #ddd;
	border-radius:4px;
	color: #333;
	background: #FFF;
	font-size:.8em;
}

#content-list input[type="radio"]:checked+label {
	background-color:#85CCE7;
	color:#fff;
}

#content-preview {
	height:415px;
	padding:20px;
	overflow-y: scroll;
	background:#FFFFFF;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border: 1px solid #ddd;
}


#content-preview h1,
#content-preview h2,
#content-preview h3,
#content-preview h4,
#content-preview h5 {
	color: #000000;
	margin-top: 0;
	
}